
    <!-- Begin page -->
    <main class="h-100 theme-light-radial-gradient">

        <!-- Header -->
        
        <!-- Header ends -->

        <!-- main page content -->
        <div class="main-container container">
            <!-- Contact us form -->
           
            <!-- Contact us blocks -->
            <div class="row justify-content-center">
                
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card shadow-sm mb-4">
                        <div class="card-body text-center">
                            <div class="avatar avatar-60 shadow-sm shadow-primary rounded-6 mb-3 bg-primary text-white">
                                <div class="icons">
                                    <i class="bi bi-newspaper size-22"></i>
                                </div>
                            </div>
                            <h6 class="mb-2">Report & Feedback</h6>
                            <p class="text-secondary small mb-3">We'l like to hear your Experience of the Application</p>
                            <button class="btn btn-sm text-color-theme"><a href="mailto:work@bitlearners.com"> <i class="bi bi-envelope mx-1"></i> Mail Us</a></button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-6 mb-4">
                    <h6 class="mb-2">Techincal problem</h6>
                    <p class="text-secondary">If you have any type of techincal challenges and would like to get help
                        from us please drop an email at <span class="text-primary">work@bitlearners.com</span>.</p>
                    <hr>
                    
                    <p class="text-secondary"> <span >Copyright © 2022, Ticket Scanner. All rights reserved. <br> This app is Designed & Devloped by <a href="Bitleaners.com">Bitleaners.com</a></span>.</p>
                </div>
            </div>
            <!-- Address -->
           
           
        </div>
        <!-- main page content ends -->

    </main>
    <!-- Page ends-->

  