

        <!-- main page content -->
        <div class="main-container container">
            <!-- popular shopping  -->
            <div class="row mb-3 gap-0">
                <div class="col">
                    <h6 class="title">Scanned Ticket History</h6>
                </div>
                <div class="col-auto">
                    <small class="text-secondary">35 items</small>
                </div>


            </div>
            <div class="row mb-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body p-0">
                            <ul class="list-group list-group-flush bg-none">

                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-auto ml-6">

                                        </div>

                                        <div class="col align-self-center ps-0">
                                            <p class="text-danger size-10 mb-0">08dd1001c0ed942c168c55ca638e9ba3</p>
                                            <p class="mb-1 text-danger">QR-5189</p>
                                            <p class="small">Noman</p>

                                        </div>
                                        <div class="col align-self-center text-end">
                                            <p class="text-danger">Invaid Ticket</p>
                                            <p class="text-secondary text-muted size-10 mb-0 fw-9"><b> 15-10-2021 |
                                                    11:35am</b></p>
                                        </div>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-auto ml-6">

                                        </div>

                                        <div class="col align-self-center ps-0">
                                            <p class="text-warning size-10 mb-0">08dd1001c0ed942c168c55ca638e9ba3</p>
                                            <p class="mb-1 text-warning">QR-5189</p>
                                            <p class="small">Abhishek</p>

                                        </div>
                                        <div class="col align-self-center text-end">
                                            <p class="text-warning">  Scaning Failed</p>
                                            <p class="text-secondary text-muted size-10 mb-0 fw-9"><b> 15-10-2021 |
                                                    11:35am</b></p>
                                        </div>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-auto ml-6">

                                        </div>

                                        <div class="col align-self-center ps-0">
                                            <p class="text-success size-10 mb-0">08dd1001c0ed942c168c55ca638e9ba3</p>
                                            <p class="mb-1 text-success">QR-5189</p>
                                            <p class="small">Vikrant</p>

                                        </div>
                                        <div class="col align-self-center text-end">
                                            <p class="text-success">Valid Ticket</p>
                                            <p class="text-secondary text-muted size-10 mb-0 fw-9"><b> 15-10-2021 |
                                                    11:35am</b></p>
                                        </div>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-auto ml-6">

                                        </div>

                                        <div class="col align-self-center ps-0">
                                            <p class="text-danger size-10 mb-0">08dd1001c0ed942c168c55ca638e9ba3</p>
                                            <p class="mb-1 text-danger">QR-5189</p>
                                            <p class="small">Keshav</p>

                                        </div>
                                        <div class="col align-self-center text-end">
                                            <p class="text-danger">Ticket Unavailable</p>
                                            <p class="text-secondary text-muted size-10 mb-0 fw-9"><b> 15-10-2021 |
                                                    11:35am</b></p>
                                        </div>
                                    </div>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- main page content ends -->


    </main>
    <!-- Page ends-->

    