<!-- Begin page -->
<main class="h-100 theme-light-radial-gradient">
    <!-- main page content -->
    <div class="main-container container">
        <div class="row" style="width: 100%, display: block;" >
            
            <h2 class="text-center">Settings</h2>
        </div>
    <!-- People -->
</main>
<!-- Page ends-->


<!-- Footer -->
<footer class="footer footer-squared">
    <div class="container">
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <%= link_to  profile_path, class: "nav-link", style:"text-decoration: none;" do %>
                    <span>
                        <i class="nav-icon bi bi-person-circle"></i>
                        <span class="nav-text">Profile</span>
                    </span>
                <% end %>

            </li>

            <li class="nav-item">
                <a class= "nav-link", style="text-decoration: none;" onclick=changePage("<%= scanner_url %>")>
                    <span class="">
                        <i class="bi bi-camera-fill"></i>
                        <span class="nav-text">Scan</span>
                    </span>
                </a>
            </li>

            <li class="nav-item">
                  <%= link_to  history_path, class: "nav-link", style:"text-decoration: none;" do %>
                    <span>
                        <i class="nav-icon bi bi-list-task"></i>
                        <span class="nav-text">History</span>
                    </span>
                  <% end %>
                
            </li>

            <li class="nav-item square-footerbtn">
                <%= link_to  settings_path, class: "nav-link", style:"text-decoration: none;" do %>
                    <span class="bg-theme">
                        <i class="bi bi-gear-fill size-22"></i>
                        <span class="nav-text">Settings</span>
                    </span>
                <% end %>
            </li>

        </ul>
    </div>
</footer>
<!-- Footer ends-->
