<h2 class="text-center">Calendar</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">S</th>
      <th scope="col">M</th>
      <th scope="col">T</th>
      <th scope="col">W</th>
      <th scope="col">T</th>
      <th scope="col">F</th>
      <th scope="col">S</th>
    </tr>
  </thead>
  <tbody>
  	<% @month.each do |week| %>
	    <tr>
		  	<% week.each do |date| %>
	      <td>
	      	<%= date %>
	      </td>
	    	<% end %>
    	</tr>
    <% end %>
  </tbody>
</table>