<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Home page
    </title>
</head>
<body>

<div class="row">
  <div class="col" style="scroll-behavior: auto; position: sticky;">
    <br>
    <% @tasks.each do |t| %>
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title"><%= t.dig("name") %></h5>
          <p class="card-text"><%= t.dig("desc") %></p>
          <a href="#" class="btn btn-primary">Mark as Done</a>
        </div>
      </div> 
      <br>
    <% end %>
    <br><br>
  </div>

</div>

</body>
</html>
