<!DOCTYPE html>
<html>
  <head>
    <title>QrScannerApp</title>

    <%= render 'home/header' %>
  </head>

  <body>

    <header>
      <%= render 'layouts/alerts' %>
    </header>

    <% if current_user %>
       <%= link_to "Logout", logout_path, class:'nav-link login-status' %>
    <% end %>
    <main class="wrapper" style="padding-top:0em">
      <%= yield %>
    </main>


</body>

</html>
