<!DOCTYPE html>
<html>
  <head>
    <title>Ticket Scanner v1.0</title>

    <%= render 'home/header' %>
  </head>

  <body>

    <header>
      <%= render 'layouts/alerts' %>
    </header>

    <% if current_user %>
    <% end %>

    <%= yield %>



    <%= render 'home/footer' %>
</body>

</html>
