<!DOCTYPE html>
<html>
  <head>
    <title>Ticket Scanner v1.0</title>

    <%= render 'home/header' %>
  </head>

  <body>

    <header>
      <%= render 'layouts/alerts' %>
    </header>

    <% if current_user %>
    <% end %>
    <main class="wrapper" style="padding-top:0em">
      <%= yield %>
    </main>


    <%= render 'home/footer' %>
</body>

</html>
